[submodule "BlockChainExample"]
	path = BlockChainExample
	url = https://github.com/mwwhited-forks/BlockChainExample.git
	upstream = https://github.com/mcbethr/BlockChainExample.git
[submodule "MSBuild.Sdk.SqlProj"]
	path = MSBuild.Sdk.SqlProj
	url = https://github.com/mwwhited-forks/MSBuild.Sdk.SqlProj.git
	upstream = https://github.com/rr-wfm/MSBuild.Sdk.SqlProj.git
[submodule "cline"]
	path = cline
	url = https://github.com/mwwhited-forks/cline.git
	upstream = https://github.com/cline/cline.git
[submodule "vivado-library"]
	path = vivado-library
	url = https://github.com/mwwhited-forks/vivado-library.git
	upstream = https://github.com/Digilent/vivado-library.git
[submodule "DOOM"]
	path = DOOM
	url = https://github.com/mwwhited-forks/DOOM.git
	upstream = https://github.com/id-Software/DOOM.git
[submodule "sql-server-language-extensions"]
	path = sql-server-language-extensions
	url = https://github.com/mwwhited-forks/sql-server-language-extensions.git
	upstream = https://github.com/microsoft/sql-server-language-extensions.git
[submodule "Device.Net"]
	path = Device.Net
	url = https://github.com/mwwhited-forks/Device.Net.git
	upstream = https://github.com/MelbourneDeveloper/Device.Net
[submodule "nikon-firmware-tools"]
	path = nikon-firmware-tools
	url = https://github.com/mwwhited-forks/nikon-firmware-tools.git
	upstream = https://github.com/simeonpilgrim/nikon-firmware-tools
[submodule "digilent-xdc"]
	path = digilent-xdc
	url = https://github.com/mwwhited-forks/digilent-xdc.git
	upstream = https://github.com/mwwhited-forks/digilent-xdc.git
[submodule "cyclonedx-dotnet"]
	path = cyclonedx-dotnet
	url = https://github.com/mwwhited-forks/cyclonedx-dotnet.git
	upstream = https://github.com/CycloneDX/cyclonedx-dotnet.git
[submodule "Digital"]
	path = Digital
	url = https://github.com/mwwhited-forks/Digital.git
	upstream = https://github.com/hneemann/Digital.git
[submodule "smtp4dev"]
	path = smtp4dev
	url = https://github.com/mwwhited-forks/smtp4dev.git
	upstream = https://github.com/rnwood/smtp4dev.git
[submodule "gigatron-rom"]
	path = gigatron-rom
	url = https://github.com/mwwhited-forks/gigatron-rom.git
	upstream = https://github.com/kervinck/gigatron-rom.git
[submodule "vivado-boards"]
	path = vivado-boards
	url = https://github.com/mwwhited-forks/vivado-boards.git
	upstream = https://github.com/Digilent/vivado-boards.git
[submodule "olcPixelGameEngine"]
	path = olcPixelGameEngine
	url = https://github.com/mwwhited-forks/olcPixelGameEngine
	upstream = https://github.com/OneLoneCoder/olcPixelGameEngine
[submodule "HidSharp"]
	path = HidSharp
	url = https://github.com/mwwhited-forks/HidSharp.git
	upstream = https://github.com/IntergatedCircuits/HidSharp.git
[submodule "HidSharp"]
	path = HidSharp
	url = https://github.com/mwwhited-forks/SqlClrVector.git
	upstream = https://github.com/erincon01/Vector.git
[submodule "Auto_Jobs_Applier_AIHawk"]
	path = Auto_Jobs_Applier_AIHawk
	url = https://github.com/mwwhited-forks/Auto_Jobs_Applier_AIHawk.git
	upstream = https://github.com/feder-cr/Jobs_Applier_AI_Agent_AIHawk
[submodule "MiniEngineeringNotebooks"]
	path = MiniEngineeringNotebooks
	url = https://github.com/mwwhited-forks/MiniEngineeringNotebooks.git
	upstream = https://github.com/alaricmoore/MiniEngineeringNotebooks.git
[submodule "AI-Image-Denoiser"]
	path = AI-Image-Denoiser
	url = https://github.com/mwwhited-forks/AI-Image-Denoiser.git
	upstream = https://github.com/Cydral/AI-Image-Denoiser.git
[submodule "Altera-Cyclone-II-FPGA"]
	path = Altera-Cyclone-II-FPGA
	url = https://github.com/mwwhited-forks/Altera-Cyclone-II-FPGA.git
	upstream = https://github.com/tocache/Altera-Cyclone-II-FPGA.git
[submodule "qb64"]
	path = qb64
	url = https://github.com/mwwhited-forks/qb64.git
	upstream = https://github.com/QB64Team/qb64.git
[submodule "DuetSoftwareFramework"]
	path = DuetSoftwareFramework
	url = https://github.com/mwwhited-forks/DuetSoftwareFramework.git
	upstream = https://github.com/Duet3D/DuetSoftwareFramework.git
[submodule "Pmod-I2S2"]
	path = Pmod-I2S2
	url = https://github.com/mwwhited-forks/Pmod-I2S2.git
	upstream = https://github.com/Digilent/Pmod-I2S2.git
[submodule "olcNES"]
	path = olcNES
	url = https://github.com/mwwhited-forks/olcNES.git
	upstream = https://github.com/OneLoneCoder/olcNES.git
[submodule "DuetWebControl"]
	path = DuetWebControl
	url = https://github.com/mwwhited-forks/DuetWebControl.git
	upstream = https://github.com/Duet3D/DuetWebControl.git
[submodule "pl2303-win10"]
	path = pl2303-win10
	url = https://github.com/mwwhited-forks/pl2303-win10.git
	upstream = https://github.com/johnstevenson/pl2303-win10.git
[submodule "pl2303-legacy"]
	path = pl2303-legacy
	url = https://github.com/mwwhited-forks/pl2303-legacy.git
	upstream = https://github.com/johnstevenson/pl2303-legacy.git
[submodule "MultiComp"]
	path = MultiComp
	url = https://github.com/mwwhited-forks/MultiComp.git
	upstream = https://github.com/douggilliland/MultiComp.git
[submodule "wolf3d"]
	path = wolf3d
	url = https://github.com/mwwhited-forks/wolf3d.git
	upstream = https://github.com/id-Software/wolf3d.git
[submodule "netv-fpga"]
	path = netv-fpga
	url = https://github.com/mwwhited-forks/netv-fpga.git
	upstream = https://github.com/bunnie/netv-fpga.git
[submodule "RN-52"]
	path = RN-52
	url = https://github.com/mwwhited-forks/RN-52.git
	upstream = https://github.com/sparkfun/RN-52.git
[submodule "MIDI_Breakout"]
	path = MIDI_Breakout
	url = https://github.com/mwwhited-forks/MIDI_Breakout.git
	upstream = https://github.com/mwwhited-forks/MIDI_Breakout.git
[submodule "quartus-DE0-project"]
	path = quartus-DE0-project
	url = https://github.com/mwwhited-forks/quartus-DE0-project.git
	upstream = https://github.com/thomasrussellmurphy/quartus-DE0-project.git
[submodule "Quake"]
	path = Quake
	url = https://github.com/mwwhited-forks/Quake.git
	upstream = https://github.com/id-Software/Quake.git
[submodule "i2c-master"]
	path = i2c-master
	url = https://github.com/mwwhited-forks/i2c-master.git
	upstream = https://github.com/joelagnel/i2c-master.git
[submodule "WebScraper_Csharp"]
	path = WebScraper_Csharp
	url = https://github.com/mwwhited-forks/WebScraper_Csharp.git
	upstream = https://github.com/NNN28/WebScraper_Csharp.git
[submodule "Markdig.Extensions.ScriptCs"]
	path = Markdig.Extensions.ScriptCs
	url = https://github.com/mwwhited-forks/Markdig.Extensions.ScriptCs.git
	upstream = https://github.com/macaba/Markdig.Extensions.ScriptCs.git
[submodule "Quake-2"]
	path = Quake-2
	url = https://github.com/mwwhited-forks/Quake-2.git
	upstream = https://github.com/id-Software/Quake-2.git
[submodule "MS-DOS"]
	path = MS-DOS
	url = https://github.com/mwwhited-forks/MS-DOS.git
	upstream = https://github.com/microsoft/MS-DOS.git
[submodule "avr_eefs"]
	path = avr_eefs
	url = https://github.com/mwwhited-forks/avr_eefs.git
	upstream = https://github.com/nasa/eefs.git
[submodule "SDSoC-Tutorials"]
	path = SDSoC-Tutorials
	url = https://github.com/mwwhited-forks/SDSoC-Tutorials.git
	upstream = https://github.com/Xilinx/SDSoC-Tutorials.git
[submodule "Netduino.Foundation"]
	path = Netduino.Foundation
	url = https://github.com/mwwhited-forks/Netduino.Foundation.git
	upstream = https://github.com/WildernessLabs/Netduino.Foundation.git
[submodule "openarty"]
	path = openarty
	url = https://github.com/mwwhited-forks/openarty.git
	upstream = https://github.com/ZipCPU/openarty.git
[submodule "ecowitt_http_gateway"]
	path = ecowitt_http_gateway
	url = https://github.com/mwwhited-forks/ecowitt_http_gateway.git
	upstream = https://github.com/iz0qwm/ecowitt_http_gateway.git
[submodule "NikonEmulator"]
	path = NikonEmulator
	url = https://github.com/mwwhited-forks/NikonEmulator.git
	upstream = https://github.com/davidgfb/NikonEmulator.git
[submodule "friendly-buspirate"]
	path = friendly-buspirate
	url = https://github.com/mwwhited-forks/friendly-buspirate.git
	upstream = https://github.com/dsl400/friendly-buspirate.git
[submodule "Quake-III-Arena"]
	path = Quake-III-Arena
	url = https://github.com/mwwhited-forks/Quake-III-Arena.git
	upstream = https://github.com/id-Software/Quake-III-Arena.git
[submodule "Arty-A7-100-GPIO"]
	path = Arty-A7-100-GPIO
	url = https://github.com/mwwhited-forks/Arty-A7-100-GPIO.git
	upstream = https://github.com/Digilent/Arty-A7-100-GPIO.git
[submodule "Arty-A7-100-Pmod-VGA"]
	path = Arty-A7-100-Pmod-VGA
	url = https://github.com/mwwhited-forks/Arty-A7-100-Pmod-VGA.git
	upstream = https://github.com/Digilent/Arty-A7-100-Pmod-VGA.git
[submodule "Tennis-for-Two"]
	path = Tennis-for-Two
	url = https://github.com/mwwhited-forks/Tennis-for-Two.git
	upstream = https://github.com/jasoneppink/Tennis-for-Two.git
[submodule "EP2C5-Cyclone-II-Mini-Board"]
	path = EP2C5-Cyclone-II-Mini-Board
	url = https://github.com/mwwhited-forks/EP2C5-Cyclone-II-Mini-Board.git
	upstream = https://github.com/land-boards/EP2C5-Cyclone-II-Mini-Board.git
[submodule "Neural-Network-Experiments"]
	path = Neural-Network-Experiments
	url = https://github.com/mwwhited-forks/Neural-Network-Experiments.git
	upstream = https://github.com/SebLague/Neural-Network-Experiments.git
[submodule "de5000_lcr_py"]
	path = de5000_lcr_py
	url = https://github.com/mwwhited-forks/de5000_lcr_py.git
	upstream = https://github.com/4x1md/de5000_lcr_py.git
[submodule "CentronicsArduino"]
	path = CentronicsArduino
	url = https://github.com/mwwhited-forks/CentronicsArduino.git
	upstream = https://github.com/boriz/CentronicsArduino.git
[submodule "CommandLineFPS"]
	path = CommandLineFPS
	url = https://github.com/mwwhited-forks/CommandLineFPS.git
	upstream = https://github.com/OneLoneCoder/CommandLineFPS.git
